<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by {{name}}. It uses data from weatherstack.com and mapbox.com</p>
    {{>footer}}
</body>

</html>